.plantCard {
  width: 250px;
  height: 300px;
  background: var(--color-background-card);
  border-radius: var(--radius-medium);
  padding: var(--spacing-md);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.plantCard:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-md);
}

.plantImageContainer {
  width: 100%;
  border-radius: var(--radius-medium);
}
.plantImageContainer img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: var(--radius-medium);
}

.plantNameContainer {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plantNameContainer h3 {
  color: var(--color-text-primary);
}

.plantNameContainer p {
  color: var(--color-text-muted);
  font-style: italic;
}
