.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-background-base);
}

.toolsContainer {
  width: 100%;
  height: 100px;
  display: flex;
  padding: 0 var(--spacing-md);
  gap: var(--spacing-md);
}
