.formModal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-background-modal);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 430px) {
  .formModal {
    align-items: flex-start;
  }
}