.header {
  width: 100%;
  height: 100px;
  padding: var(--spacing-lg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-background-base);
}

.headingContainer h1 {
  font-family: var(--font-family-base);
  color: var(--color-text-primary);
}
