.footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-base);
    padding: var(--spacing-xl) 0;
}

.footer p {
    color: var(--color-text-primary);
}