.searchContainer {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchLabel {
  display: flex;
  flex-basis: 25%;
  justify-content: end;
  padding-right: var(--spacing-sm);
}

.searchInput {
  display: flex;
  flex-basis: 75%;
  height: 32px;
  padding-left: var(--spacing-sm);
  border-radius: var(--radius-small);
  border: 2px solid var(--color-border);
}

.searchInput:focus {
  outline-color: var(--color-text-muted);
}