.plantListContainer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  place-content: center;
  padding: var(--spacing-lg);
  gap: var(--spacing-lg);
  list-style: none;
}

.noResults {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 571px) {
  .plantListContainer {
    padding: var(--spacing-sm);
  }
}