.sortSelect {
  height: 48px;
  width: fit-content;
  background-color: var(--color-button-primary);
  font-size: var(--font-size-base);
  color: white;
  border: none;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--radius-small);
  cursor: pointer;
}

.sortSelect:hover {
  background-color: var(--color-button-hover);
}

.sortSelect:active {
  background-color: var(--color-button-active);
}